:root {
    --text: #000000;
    --btn: #299764;
    --btn-text: #fff;
    --gray-title: #555555;
}

.site-body--white {
    --text: #fff;
    --btn: #299764;
    --btn-text: #fff;
    --gray-title: #555555;
}